@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?5jpvrv');
  src:  url('../../assets/fonts/icomoon.eot?5jpvrv#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?5jpvrv') format('truetype'),
    url('../../assets/fonts/icomoon.woff?5jpvrv') format('woff'),
    url('../../assets/fonts/icomoon.svg?5jpvrv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin:0;
  background: #F9F7F6;
  font-family: 'Titillium Web', sans-serif;
}
p,h2,h3,h4,figure{
  margin:0;
  padding: 0;
}
button{
  font-family: 'Titillium Web', sans-serif;
}
.header{
  background:#141414;
  position: fixed;
  width:100%;
  top: 0;
  z-index:2000;
  display: grid;
  grid-template-columns: 190px 1fr 190px;
  grid-template-rows: 1fr; 
}
.logo{
  color: white;
  padding-left: 40px;
}
.logo h1{
  font-family: 'Black Ops One', sans-serif;
  font-weight: 400;
  margin: 5px 0 0 0;
  line-height: 35px;
}
.logo h1 img{
  width: 38px;
  padding-right: 2px;
}
.logo h1:last-child{
  margin: 0 0 5px 0;
  padding-left: 2px;
}
.menu-search{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
    align-items: center;
  padding-right: 40px;
  box-sizing: border-box;
}
.user-container{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.icon-user{
  color:white;
  font-size: 22px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
}
.user-container:hover .user-modal{
  display:flex;
}
.user-modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-transform: uppercase;
    font-size: .95em;
    font-weight: 600;
    top: 71.6px;
    right: -44px;
    width: 140px;
    height: 120px;
    padding: 10px 15px;
    box-sizing: border-box;
    background: white;
    clip-path: polygon(0% 7%,43% 7%, 50% 0%, 58% 7%, 100% 7%, 100% 100%, 0% 100%);
    transition: all .2s ease;
}
.user-modal a{
  color: #141414;
  text-decoration: none;
}
.user-modal p{
  width: 100%;
  border-top: 1px solid #141414;
  margin:5px 0;
}
.user-modal a:hover{
  text-decoration: underline;
}
.icon-cart{
  color:white;
  font-size: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.search-container{
  display: flex;
  z-index: 999;
  position: fixed;
  top:80px;
  right: 115px;
  width: 270px;
  height: 80px;
  transform: translateY(0);
  background: #202020;
  justify-content: center;
  align-items: center;
  transition: transform .3s ease;
  padding: 0 15px;
}
.hide-icon{
  color: #303030;
}
.hide-search-bar{
  transform: translateY(-80px);
}
.search{
  outline: none;
  border:none;
  border-radius: 0px;
  color: white;
  border-bottom: 2px solid white;
  background: none;
  height: 30px;
  padding: 0  0  0 10px;
  width: 100%;
}
.search-container input::placeholder{
  color: white;
  font-size: 1.1em;
}
.search-button{
  display: flex;
  justify-content: flex-end;
  border:none;
  background: transparent;
  color:white;
  width: 70px;
  height: 32px;
  font-size: 19px;
  padding: 0;
  border-bottom:2px solid white;
}
#icon-search-down{
  padding-right: 12.5px;
}
.lupa-container{
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 75px;
  color: white;
  font-size: 19px;
  background:  rgba(255,255,255,.05);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.lupa-container-search-move{
  animation: lupa .4s ease forwards;
}
.lupa-container-search-move-2{
  transform: translateY(80px);
  animation: lupa2 .3s ease forwards;
}
@keyframes lupa{
  to{
    transform: translateY(80px);
  }
}
@keyframes lupa2{
  to{
    transform: translateY(0);
  }
}
.menu-button{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 21px;
  border-radius: 5px;
  padding-top:3px;
}
.line1, .line2 , .line3{
  width: 25px;
  height: 3px;
  margin-bottom:4px;
  background: white;
}
.menu-button-line1{
  animation: animation-line1 .4s linear forwards;
}
.menu-button-line3{
  animation: animation-line2 .4s linear forwards;
}
.menu-button-line2{
  background: none;
}
@keyframes animation-line1{
  0%{
    transform: translateY(0) rotate(0)
  }
  40%{
    transform: translateY(7px) rotate(0)
  }
  100%{
    transform: translateY(7px) rotate(45deg)
  }
}
@keyframes animation-line2{
  0%{
    transform: translateY(0) rotate(0)
  }
  40%{
    transform: translateY(-7px) rotate(0)
  }
  100%{
    transform: translateY(-7px) rotate(-45deg)
  }
}
.menu{
  position: relative;
  height: 100%;
  color:white;
}
ol{
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}
.icon-keyboard_arrow_right{
  font-size: 28px;
  margin: 6px 0;
}
.icon-keyboard_arrow_right, .icon-sports-shoe, .icon-male, .icon-female, .icon-phone, .icon-t-shirt, .icon-home3{
  width: 20px;
}
.helper{
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 80px;
  background: #141414;
}
.helper a, .sub-menu a, .helper-lateral a, .sub-menu-lateral a, .menu-principal li a{
  text-decoration: none;
  color: white;
}
.border-menu{
  width: 9px;
  height: 25px;
  position: absolute;
  right: -9px;
}
.border-menu-white{
  display: inherit;
  border-radius: 50px 0 0 0;
  background: white;
  width: 10px;
  height: 25px;
}
.menu-principal{
  margin: 0;
}
.menu-principal li{
  background: #141414;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
  cursor: pointer;
}
.menu-principal li:hover{
  background-color: rgba(0,0,0,0.28);
}
.menu-principal li:hover .helper{
  box-sizing: border-box;
}
.menu-principal li:hover .sub-menu{
  animation-name: animacion-menu;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.menu-principal li p{
  margin: 10px 0;
}
.menu-principal li .helper{
  transform: rotate(0deg);
}
.sub-menu li{
  font-size: 1em;
  padding: 10px 0 11px 0;
  margin: 0;
  border:none;
}
.sub-menu li:last-child{
  padding-bottom: 10px;
}
.sub-menu li p{
  margin:0;
  padding-bottom: 0;
  border: none;
}
.sub-menu p{
  padding-left: 40px;
}
.sub-menu{
  transform: translateY(-100%);
  background: #141414;
  top: 80px;
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: -10;
  width: 250px;
  font-size: 1em;
  
}
@keyframes animacion-menu{
  from{
    transform: translateY(-100%);
  }to{
    transform: translateY(0);
  }
}
.item-container{
  display: flex;
  justify-content: space-between;
}
.icon-button{
  transition: all .4s ease;
  transform-style: preserve-3d;
}
.menu-principal li:hover .icon-button{
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
.icon-button::after {
  line-height: 80px;
  text-align: center;
  font-size: 1.5em;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  color: black;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.menu-principal li:nth-child(1) .icon-button::after{
  content: "\e909";
}
.menu-principal li:nth-child(2) .icon-button::after{
  content: "\e907";
}
.menu-principal li:nth-child(3) .icon-button::after{
  content: "\e908";
}
.menu-principal li:nth-child(4) .icon-button::after{
  content: "\e904";
}
.menu-principal li:nth-child(5) .icon-button::after{
  content: "\e905";
}
.menu-principal li:nth-child(6) .icon-button::after{
  content: "\e942";
}

.page-content{
  margin-top: 80px;
}

.footer{
  width: 100%;
}
.footer-container{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}
.footer-up .footer-container{
  justify-content: space-between;
  align-items: center;
}
.footer-up-left, .footer-up-right{
  width: 50%;
  height: 100%;
}
.footer-up-right{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  color: white;
}
.footer-up-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.footer-up a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.footer-up i{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255,255,255,.08);
  margin-right: 15px;
}
.footer-up-right i{
  border-radius: 3px;
}
.footer-up-right h2{
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 21px 0 12px 0;
}
.footer-up-right h3{
  font-size: 1.05em;
  margin-bottom: 0px;
}
.footer-up-right p{
  font-size: .9em;
  line-height: 1em;
  color: lightgray;
  margin-bottom: 10px;
}
.footer-down .footer-container{
  justify-content: space-between;
}
.footer-down .footer-container p:last-child{
  text-align: right;
}
.footer-up{
  background: #141414;
  width: 100%;
  height: 280px;
  padding: 20px 0;
  box-sizing: border-box;
}
.social-networks{
  margin-top: 10px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.footer-down{
  background: #363738;
  width: 100%;
  height: 50px;
  color: #ccc;
  padding: 10px 25px 10px;
  font-size: .8em;
  box-sizing: border-box;
  line-height: 1.1em;
}
/* Añadidas con js */
.color{
  background: #1368CE;
  color: white;
  border-bottom: none;
}
.fixed{
  position: fixed;
  position: -ms-device-fixed;
  top:80px;
  width: 300px;
}
.border{
  border-radius: 0 0 12px 0;
}
.menu-lateral{
  display: none;
  transform: translateX(-100vw);
  transition: transform .3s ease;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index:2;
  background: #141414;
  color:white;
  height: calc(100vh - 80px);
  overflow-y: scroll;
}
.menu-lateral::-webkit-scrollbar{
  display: none;
}
ol{
  list-style: none;
  padding-left: 0px;
}
.icon-keyboard_arrow_right{
  font-size: 28px;
  margin: 6px 0;
}
.icon-keyboard_arrow_right, .icon-sports-shoe, .icon-male, .icon-female, .icon-phone, .icon-t-shirt, .icon-home3{
  width: 20px;
}
.helper-lateral{
  display: flex;
  padding-left: 40px;
  align-items: center;
}
.menu-principal-lateral{
  display: flex;
  flex-direction: column;
  margin:26px 0;
}
.menu-principal-lateral li{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
}
.menu-principal-lateral li:hover{
  background-color: rgba(0,0,0,0.28);
  border-bottom: 1px solid white;
}
.menu-principal-lateral li:hover .item-container-lateral{
  border: none;
}
.menu-principal-lateral li:hover .helper-lateral i{
  animation-duration: .8s;
  animation-name: animation-icons;
  animation-timing-function: linear;
}
.menu-principal-lateral li:hover .sub-menu-lateral p{
  animation-duration: initial;
  animation-name: initial;
  animation-timing-function: initial;
}
.menu-principal-lateral li:hover .sub-menu-lateral li{
  border:none;
}
.menu-principal-lateral li p{
  margin: 10px 0;
}
.menu-principal-lateral li .helper-lateral{
  transform: rotate(0deg);
}
.menu-principal-lateral li .icon-keyboard_arrow_right{
  transform: rotate(90deg);
}
.sub-menu-lateral li{
  font-size: 1em;
  padding: 10px 0 11px 0;
  margin: 0;
  border:none;
}
.sub-menu-lateral li:last-child{
  padding-bottom: 10px;
}
.sub-menu-lateral li p{
  margin:0;
  padding-bottom: 0;
  border: none;
}
.menu-lateral p{
  padding-left: 10px;
}
.sub-menu-lateral p{
  padding-left: 40px;
}
.sub-menu-lateral{
  display: none;
  margin-top: 1px;
  box-sizing: border-box;
  z-index: -10;
  width: 0;
  height: 0;
  transition: all 0.3s ease-in;
}
.item-container-lateral{
  display: flex;
  padding-right: 20px;
  border-bottom: 1px solid white;
  justify-content: space-between;
}
.show-sub-menu-lateral{
  display: initial;
  width: 250px;
  height: initial;
  font-size: 1em;
} 

@media screen and (max-width:1150px){
  .helper{
    padding: 0 10px;
  }
}
@media screen and (max-width:1023px){
  .menu-lateral{
    display: initial;
  }
}
@media screen and (max-width:981px){
  .helper{
    padding: 0 5px;
  }
}

@media screen and (max-width:960px){
  .header{
    grid-template-columns: 190px 1fr;
    grid-template-rows: 1fr;
  }
  .search{
    justify-content: flex-end;
    flex-direction: initial;
    align-items: center;
    padding-right: 20px;
  }
  .search-container{
    right: 120px;
  }
  .icon-cart, .menu, .search-down input{
    display: none;
  }
  .lupa-container{
    border: none;
  }
  .search-down{
    order: -1;
  }
  .menu-button{
    display: flex;
    cursor: pointer;
  }
  .icon-cart, .icon-user{
    margin-top:0;
  }
  .logo{
    padding-left: 20px;
  }
}
@media screen and (max-width:600px){
  .menu-search{
    padding-right: 10px;
  }
  .footer-up{
    height: 460px;
  }
  .footer-up .footer-container{
    flex-direction: column;
  }
  .footer-up-right, .footer-up-left{
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  .footer-up-right h2{
    margin-top: 0;
    text-align: center;
  }
  .footer-up-right p{
    text-align: center;
  }
  .footer-up-right h3{
    margin-top: 0;
    text-align: center;
  }
  .social-networks{
    margin: 10px auto 0 auto;
  }
  .search-container{
    width: 250px;
    right: 90px;
  }
}
@media screen and (max-width:370px){
  .footer-down{
    height: 70px;
  }
  .header {
    grid-template-columns: 155px 1fr;
  }
  .logo h1{
    font-size: 1.5em;
  }
  .logo h1 img{
    width: 32px;
  }
  .search-container {
    width: 210px;
  }
}

@keyframes animation-icons{
  0%{
    transform: rotate(0deg)
  }
  25%{
    transform: rotate(180deg)
  }
  50%{
    transform: rotate(430deg)
  }
  75%{
    transform: rotate(310deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
.hide{
  display: none;
}
.opacity{
  opacity: 0;
}
.show-menu-lateral{
  transform: translateX(0);
}