body{
  margin:0;
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px minmax(500px,calc(100vh - 80px)) 1fr 180px;
  grid-template-areas: "header header"
                        "hero hero"
                        "menu content"
                        "footer footer";
}
p,h2{
  margin:0;
  padding: 0;
}
.header{
  grid-area: header;
  background:#eee;
  position: fixed;
  width:100%;
  top: 0;
  z-index:2000;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr; 
}
.logo{
  color: white;
  padding-left: 40px;
  /* transition: background-color 0.5s linear 0.2s; */
}
.logo h1{
  font-family: 'Black Ops One', sans-serif;
  font-weight: 400;
  margin: 5px 0 0 0;
  line-height: 35px;
}
.logo h1 img{
  width: 38px;
  padding-right: 2px;
}
.logo h1:last-child{
  margin: 0 0 5px 0;
  padding-left: 2px;
}
.search{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  box-sizing: border-box;
}
.icon-user, .icon-cart{
  color:white;
  font-size: 28px;
  padding-left: 15px;
  margin-top: 4px;
}
.icon-cart{
  font-size: 25px;
  padding-left: 10px;
}
.search input{
  outline: none;
  border:none;
  color: white;
  border-bottom: 2px solid white;
  background: none;
  height: 30px;
  padding: 0  0  0 10px;
  width: 160px;
}
.lupa-container{
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
}
.search img{
  width: 28px;
  height: 28px;
}
.menu{
  z-index:2;
  grid-area: menu;
  background: #1368CE;
  position: relative;
  height: 100%;
  color:white;
  height: calc(100vh - 80px) ;
}
ol{
  list-style: none;
  padding-left: 0px;
}
.icon-keyboard_arrow_right{
  font-size: 28px;
  margin: 6px 0;
}
.icon-keyboard_arrow_right, .icon-sports-shoe, .icon-male, .icon-female, .icon-phone, .icon-t-shirt, .icon-home3{
  width: 20px;
}
.helper{
  display: flex;
  padding-left: 40px;
  align-items: center;
}
.border-menu{
  width: 9px;
  height: 25px;
  position: absolute;
  right: -9px;
}
.border-menu-white{
  display: inherit;
  border-radius: 50px 0 0 0;
  background: white;
  width: 10px;
  height: 25px;
}

.menu-principal{
  margin:26px 0;
}
.menu-principal li{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
}
.menu-principal li:hover{
  background-color: rgba(0,0,0,0.28);
  border-left: 4px solid white;
}
.menu-principal li:hover .helper{
  animation-duration: .3s;
  animation-name: animation-icons;
  animation-timing-function: linear;
}
.menu-principal li:hover .sub-menu p{
  animation-duration: initial;
  animation-name: initial;
  animation-timing-function: initial;
}
.menu-principal li:hover .sub-menu{
  width: 250px;
  height: initial;
  font-size: 1em;
}
.menu-principal li:hover .sub-menu li{
  border:none;
}
.menu-principal li p{
  margin: 10px 0;
}
.menu-principal li .helper{
  transform: rotate(0deg);
}
.sub-menu li{
  font-size: 1em;
  padding: 10px 0 11px 0;
  margin: 0;
  border:none;
}
.sub-menu li:last-child{
  padding-bottom: 10px;
}
.sub-menu li p{
  margin:0;
  padding-bottom: 0;
  border: none;
}
.menu p{
  padding-left: 10px;
}
.sub-menu p{
  padding-left: 40px;
}
.sub-menu{
  margin-top: 1px;
  box-sizing: border-box;
  position: absolute;
  left: 296px;
  top: -1px;
  z-index: -10;
  width: 0;
  height: 0;
  font-size: 0;
  transition: all 0.3s ease-in;

}
.item-container{
  display: flex;
  padding-right: 20px;
  border-bottom: 1px solid white;
  justify-content: space-between;
}

.hero{
  grid-area: hero;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr ;
  grid-template-areas: "principal secundario-1"
                       "principal secundario-2";
}
.product-hero:nth-child(1){
  grid-area: principal;
  background:url('https://cdn.thesolesupplier.co.uk/2018/09/adidas-Ultra-Tech-Shock-Pink-AQ1190.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
}
.product-hero:nth-child(2){
  grid-area: secundario-1;
  background: url('https://www.stellamccartney.com/cloud/stellawp/uploads/2018/08/513x513_03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.product-hero:nth-child(3){
  grid-area: secundario-2;
  background: url('http://as01.epimg.net/colombia/imagenes/2017/12/18/futbol/1513569463_672026_1513569617_noticia_normal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.product-hero{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer; 
}
.info{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 10px;
  height: 70px;
  clip-path: polygon(-1% 25%, 50% 0%, 104% 25%, 104% 104%, -1% 104%);
  -webkit-clip-path: polygon(-1% 25%, 50% 0%, 104% 25%, 104% 104%, -1% 104%);
  z-index:1;
  transition: all 0.2s linear;
}
.product-hero:hover .info{
  height: 95px;
  clip-path: polygon(-1% 0%, 50% 0%, 104% 0%, 104% 104%, -1% 104%);
  -webkit-clip-path: polygon(-1% 0%, 50% 0%, 104% 0%, 104% 104%, -1% 104%);
}
.product-hero:hover .product-hero-description{
  font-size: .95em;
}
.see-more{
  padding: 6px 35px;
  border-radius: 5px;
  margin-top: 2px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: .85em;
  border:1.5px solid  white;
  transition: transform .3s;
  will-change: transform;
}
.see-more:hover{
  transform: scale(1.05);
  background: rgba(0,0,0,0.5);  
} 
.product-hero-title{
  color: white;
  /* font-family: 'Amaranth'; */
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}
.product-hero-description {
  font-size: 0;
  color: white;
  padding-bottom: 7px;
  transition: font-size 0.2s linear;
  line-height: 1.1em;
}

.content{
  grid-area: content;
  color: #343A40;
  box-sizing: border-box;
}
.suggestion-description{
  width: 80%;
  text-align: center;
  padding-bottom: 35px; 
}
.suggestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
}
.suggestion-title{
  font-family: 'Amaranth';
  text-transform: uppercase;
  font-size: 2.4em;
  padding-bottom: 15px; 
}
.suggestion-products{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 380px;
  grid-column-gap: 15px;
}
.suggestion-product{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.28);
  transition: all .3s ease-in;
}

.suggestion-product:hover .card-view-container{
  display: flex;
  opacity: 1;
}
.card-image-container{
  margin: 0;
  position: relative;
}
.card-image{
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-bottom: 2px solid #343A40;
}
.card-view-container{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  background: rgba(0,0,0,0.28);
  display: none;
  opacity: 0;
  transition: opacity .2s linear;
}
.card-view{
  width:55px;
  font-weight: 600;
  padding: 0 15px;
  text-transform: uppercase;
  height: 40px;
  background: #343A40;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  font-size: 16px;
  padding: 10px;
  line-height: 1em;
}
.card-category{
  font-size: 0.9em;
  font-weight: 200;
  padding-bottom: 7px;
  line-height: 1em;
}
.card-title{
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
  line-height: 1em;
}
.card-bottom{
  display: flex;
  justify-content: space-between;
  padding-top:7px;
}
.card-price, .card-rating{
  line-height: 1em;
  font-size: 0.85em;
}
.card-rating{
  color:#98989A;
}

.footer{
  grid-area: footer;
  display: flex;
  width: 100%;
  /* height: 230px; */
  /* clip-path: polygon( 0 0, 100% 20%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 30% 0, 100% 20%, 100% 100%, 0% 100%); */
}
.footer-left{
  width:300px;
  height: 100%;
}
.footer-right{
  width:calc(100% - 300px);
  height: 100%;
}


/* Añadidas con js */
.color{
  background: #1368CE;
  color: white;
  border-bottom: none;
}
.fixed{
  position: fixed;
  position: -ms-device-fixed;
  top:80px;
  width: 300px;
}
.border{
  border-radius: 0 0 12px 0;
}
/*Holas*/

.wave-bottom-with-dots-0 {
          fill: #377DFF;
          fill: rgba(255, 255, 255, .05);
          transform: translateY(0) translateX(0) scale(1);
          animation-name: movimiento;
          animation-duration: 5.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-direction: alternate; 
          animation-delay: .1s;
        }

        .wave-bottom-with-dots-1 {
          fill: #377DFF;
          fill: rgba(255, 255, 255, .05);
          transform: translateY(0) translateX(0) scale(1);
          animation-name: movimiento;
          animation-duration: 5.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-direction: alternate; 
        }

        .wave-bottom-with-dots-2 {
          fill: #DE4437;
          fill: rgba(255, 255, 255, 0);
        }

        .wave-bottom-with-dots-3 {
          fill: #00C9A7;
          fill: rgba(255, 255, 255, 0);
          
        }

        .wave-bottom-with-dots-4 {
          fill: #FFC107;
          fill: rgba(255, 255, 255, 0);
          
        }

.injected-svg{
  position: absolute;
  bottom: 0;
  /* transform: translateY(-82px); */
}
@keyframes movimiento{
  0%{
    transform: translateY(0px) translateX(0px) scale(1);
  }
  25%{
    transform: translateY(7px) translateX(12px) scale(1.03);
  }
  50%{
    transform: translateY(1px) translateX(6px) scale(1.1);
  }
  75%{
    transform: translateY(8px) translateX(0px) scale(1.05);
  }
  100%{
    transform: translateY(-2px) translateX(7px) scale(1);
  }
}

.background-color-map {
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-name: animation-colors;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes animation-colors {
  0% {
    background-color: #1368CE;
  }
  40% {
    background-color: #E21B3C;
  }
  50% {
    background-color: #6d5bf5;
  }
  75% {
    background-color: #26890C;
  }
  100% {
    background-color: #46178F;
  }
}

@keyframes animation-colors-text {
  0% {
    background-color: #6d5bf5 ;
  }
  25% {
    /* background-color: #f55683; */
    background-color: #E21B3C;
  }
  50% {
    /* background-color: #f55683; */
    background-color: #1368CE;
  }
  75% {
    /* background-color: #ffe32a; */
    background-color: #26890C;
  }
  100% {
    /* background-color: #2a84ff; */
    background-color: #46178F;
  }
}
@keyframes animation-icons{
  0%{
    transform: rotate(10deg)
  }
  25%{
    transform: rotate(-11deg)
  }
  50%{
    transform: rotate(4deg)
  }
  75%{
    transform: rotate(-4deg)
  }
  100%{
    transform: rotate(1deg)
  }
}
.hide{
  display: none;
}
