

.hero{
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
  position: relative;
}
/* Carrousel*/
.img-behind {
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100%;
    width: 100%;
}
.img-behind img , .img-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
  }
  .img-top {
    height: 100%;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    background: white;
    transform: translateX(0);
    animation: move-in .72s linear forwards;
  }
  .hero-info {
    grid-column: 1/2;
    grid-row: 1/2;
    background: rgba(20,20,20,0.85);
    color:white;
    letter-spacing: 1.5px;
    transform: translateX(-100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    animation: move-info .7s linear forwards .33s;
  }
  .hero-tag{
    font-size: 0.8em;
    text-transform: uppercase;
    color: #98989A;
  }
  .hero-title{
    font-size: 2em;
    line-height: 1em;
    font-weight: 600;
  }
  .hero-description{
    font-size: 0.9em;
    font-weight: 300;
    padding-bottom: 20px;
  }
  .hero-info-container{
    padding: 0 30px 100px 25%;
    opacity: 1;
    transition: opacity .15s ease;
  }
.hero-button{
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 600;
  color: white;
  background-color: black;
  border:none;
  padding: 12px 25px;
}
  .controls{
    letter-spacing: -.5px;
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px 40px 10%;
    display: flex;
    opacity: 1;
    transition: opacity .2s ease;
  }
  @keyframes move-in {
    75% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes move-out {
    75% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes move-info {
    75% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .info-out {
    width: 100%;
    justify-self: end;
    transform: translateX(0);
    animation: info-out .4s linear forwards .15s;
  }
  @keyframes info-out {
    to {
      width: 0;
    }
  }
  .front {
    animation: move-out .72s linear forwards 0.57s;
  }
  .remove-animation {
    animation: none;
  }
  picture{
    margin: 0;
  }
.next, .previous{
    cursor: pointer;
    padding: 10px;
    color:white;
  }
  /*Fin carrousel*/
.content{
  grid-area: content;
  color: #343A40;
  box-sizing: border-box;
}
.lastest{
  margin-top: 30px;
}
.lastest-arrivals{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-template-areas: "last-arrival1 last-arrival2 last-arrival4"
                       "last-arrival1 last-arrival3 last-arrival4";
}
.lastest-arrivals-product{
  height: 100%;
  width: 100%;
  position: relative;
}
.lastest-arrivals-product-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lastest-arrivals-product-info{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.lastest-arrivals-product-info-button a{
  color:white;
  text-decoration: none;
}
.lastest-arrivals-product-info-button{
  padding: 10px 20px;
  background: black;
  color: white;
  font-weight: 600;
  border:none;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.lastest-arrivals-product-info-button::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(3px, 3px);
  box-shadow: inset 0 0 0 1px black;
}
.lap1{
  grid-area: last-arrival1;
}
.lap2{
  grid-area: last-arrival2;
}
.lap3{
  grid-area: last-arrival3;
}
.lap4{
  grid-area: last-arrival4;
}
.suggestion-description{
  width: 80%;
  text-align: center;
  padding-bottom: 35px; 
}
.suggestion{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
}
.section-title{
  font-family: 'Amaranth';
  text-transform: uppercase;
  font-size: 2.4em;
  padding-bottom: 15px; 
  color: #343A40;
  text-align: center;
}
.suggestion-products{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: dense;
  grid-gap: 15px;
}
.suggestion-product{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in;
  cursor: pointer;
  text-decoration: none;
  color:black;
}

.suggestion-product:hover .card-view-container{
  display: flex;
  opacity: 1;
}
.card-image-container{
  margin: 0;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}
.card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #343A40;
  transition: all .9s ease;
}
.card-view-container{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.28);
  opacity: 0;
  transition: all .5s ease;
}
.card-view{
  width:55px;
  font-weight: 600;
  padding: 0 15px;
  text-transform: uppercase;
  height: 40px;
  background: #23272B;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  font-size: 16px;
  padding: 10px;
  line-height: 1em;
}
.card-category{
  font-size: 0.9em;
  font-weight: 200;
  padding-bottom: 7px;
  line-height: 1em;
}
.card-title{
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
  line-height: 1em;
}
.card-bottom{
  display: flex;
  justify-content: space-between;
  padding-top:7px;
}
.card-price, .card-rating{
  line-height: 1em;
  font-size: 0.85em;
}
.card-rating{
  color:#98989A;
}
/*Fin index.css*/

@media screen and (max-width:960px){
  .lastest-arrivals{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 400px;
    grid-template-areas: "last-arrival1 last-arrival2"
                       "last-arrival1 last-arrival4"
                       "last-arrival3 last-arrival3";
  }
}
@media screen and (max-width:600px){
.lastest-arrivals{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,250px);
    grid-template-areas: "last-arrival1"
                         "last-arrival2"
                         "last-arrival3" 
                         "last-arrival4";
  }
}
@media screen and (max-width:426px){
  .hero{
        grid-template-rows: 1fr 1fr;
  }
  .hero-info{
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .hero-info-container{
    padding: 0 30px 0px 12.5%;
  }
  .controls{
    padding: 0 30px 15px 10%;
  }
}