@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?5jpvrv');
  src:  url('../../assets/fonts/icomoon.eot?5jpvrv#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?5jpvrv') format('truetype'),
    url('../../assets/fonts/icomoon.woff?5jpvrv') format('woff'),
    url('../../assets/fonts/icomoon.svg?5jpvrv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin:0;
  background: #F9F7F6;
  font-family: 'Titillium Web', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
  grid-template-rows: 80px minmax(500px,calc(100vh - 80px)) 600px 1fr 280px;
  grid-template-areas: "header header header"
                        "hero hero hero"
                        "last last last"
                        ". content ."
                        "footer footer footer";
}
p,h2,figure{
  margin:0;
  padding: 0;
}
button{
  font-family: 'Titillium Web', sans-serif;
}
.header{
  grid-area: header;
  background:#141414;
  position: fixed;
  width:100%;
  top: 0;
  z-index:2000;
  display: grid;
  grid-template-columns: 190px 1fr 190px;
  grid-template-rows: 1fr; 
}
.logo{
  color: white;
  padding-left: 40px;
}
.logo h1{
  font-family: 'Black Ops One', sans-serif;
  font-weight: 400;
  margin: 5px 0 0 0;
  line-height: 35px;
}
.logo h1 img{
  width: 38px;
  padding-right: 2px;
}
.logo h1:last-child{
  margin: 0 0 5px 0;
  padding-left: 2px;
}
.menu-search{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
    align-items: center;
  padding-right: 40px;
  box-sizing: border-box;
}
.icon-user{
  color:white;
  font-size: 22px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.icon-cart{
  color:white;
  font-size: 22px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.search-container{
  justify-self: center;
  z-index: 999;
  grid-row: 2/3;
  grid-column: 1/-1;
  width: 90%;
  height: 60px;
  background: rgba(255,255,255,.3);
  display: none;
  justify-content: center;
  align-items: center;
}
.search{
  outline: none;
  border:none;
  border-radius: 0px;
  color: black;
  border-bottom: 1px solid black;
  background: none;
  height: 30px;
  padding: 0  0  0 10px;
  width: 80%;
}
.lupa-container{
  display: flex;
  height: 100%;
  width: 75px;
  background:  rgba(255,255,255,.05);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.lupa-container img{
  width: 32px;
  height: 32px;
}
.menu-button{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 21px;
  border-radius: 5px;
  margin-left: 15px;
  padding-top:3px;
}
.line1, .line2 , .line3{
  width: 25px;
  height: 3px;
  margin-bottom:4px;
  background: white;
}
.menu-button:hover .line1{
  animation: animation-line1 .4s linear forwards;
}
.menu-button:hover .line3{
  animation: animation-line2 .4s linear forwards;
}
.menu-button:hover .line2{
  background: none;
}
@keyframes animation-line1{
  0%{
    transform: translateY(0) rotate(0)
  }
  40%{
    transform: translateY(7px) rotate(0)
  }
  100%{
    transform: translateY(7px) rotate(45deg)
  }
}
@keyframes animation-line2{
  0%{
    transform: translateY(0) rotate(0)
  }
  40%{
    transform: translateY(-7px) rotate(0)
  }
  100%{
    transform: translateY(-7px) rotate(-45deg)
  }
}
.menu{
  position: relative;
  height: 100%;
  color:white;
}
ol{
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}
.icon-keyboard_arrow_right{
  font-size: 28px;
  margin: 6px 0;
}
.icon-keyboard_arrow_right, .icon-sports-shoe, .icon-male, .icon-female, .icon-phone, .icon-t-shirt, .icon-home3{
  width: 20px;
}
.helper{
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 80px;
  background: #141414;
}
.border-menu{
  width: 9px;
  height: 25px;
  position: absolute;
  right: -9px;
}
.border-menu-white{
  display: inherit;
  border-radius: 50px 0 0 0;
  background: white;
  width: 10px;
  height: 25px;
}
.menu-principal{
  margin: 0;
}
.menu-principal li{
  background: #141414;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
}
.menu-principal li:hover{
  background-color: rgba(0,0,0,0.28);
}
.menu-principal li:hover .helper{
  box-sizing: border-box;
}
.menu-principal li:hover .sub-menu{
  animation-name: animacion-menu;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
/* .menu-principal li:hover .sub-menu li{
  border:none;
} */
.menu-principal li p{
  margin: 10px 0;
}
.menu-principal li .helper{
  transform: rotate(0deg);
}
.sub-menu li{
  font-size: 1em;
  padding: 10px 0 11px 0;
  margin: 0;
  border:none;
}
.sub-menu li:last-child{
  padding-bottom: 10px;
}
.sub-menu li p{
  margin:0;
  padding-bottom: 0;
  border: none;
}
.sub-menu p{
  padding-left: 40px;
}
.sub-menu{
  transform: translateY(-100%);
  background: #141414;
  top: 80px;
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: -10;
  width: 250px;
  font-size: 1em;
  
}
@keyframes animacion-menu{
  from{
    transform: translateY(-100%);
  }to{
    transform: translateY(0);
  }
}
.item-container{
  display: flex;
  justify-content: space-between;
}
.icon-button{
  transition: all .4s ease;
  transform-style: preserve-3d;
}
.menu-principal li:hover .icon-button{
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
.icon-button::after {
  line-height: 80px;
  text-align: center;
  font-size: 1.5em;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  color: black;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.menu-principal li:nth-child(1) .icon-button::after{
  content: "\e909";
}
.menu-principal li:nth-child(2) .icon-button::after{
  content: "\e907";
}
.menu-principal li:nth-child(3) .icon-button::after{
  content: "\e908";
}
.menu-principal li:nth-child(4) .icon-button::after{
  content: "\e904";
}
.menu-principal li:nth-child(5) .icon-button::after{
  content: "\e905";
}
.menu-principal li:nth-child(6) .icon-button::after{
  content: "\e942";
}


.hero{
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  overflow: hidden;
  position: relative;
}
/* Carrousel*/
.img-behind {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
}
.img-behind img , .img-top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
  }
  .img-top {
    height: 100%;
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    background: white;
    transform: translateX(0);
    animation: move-in .72s linear forwards;
  }
  .hero-info {
    grid-column: 1/2;
    grid-row: 1/2;
    background: rgba(20,20,20,0.85);
    color:white;
    letter-spacing: 1.5px;
    transform: translateX(-100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    animation: move-info .7s linear forwards .33s;
  }
  .hero-tag{
    font-size: 0.8em;
    text-transform: uppercase;
    color: #98989A;
  }
  .hero-title{
    font-size: 2em;
    line-height: 1em;
    font-weight: 600;
  }
  .hero-description{
    font-size: 0.9em;
    font-weight: 300;
    padding-bottom: 20px;
  }
  .hero-info-container{
    padding: 0 30px 100px 25%;
    opacity: 1;
    transition: opacity .15s ease;
  }
.hero-button{
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 600;
  color: white;
  background-color: black;
  border:none;
  padding: 12px 25px;
}
  .controls{
    letter-spacing: -.5px;
    font-size: .85em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 30px 40px 10%;
    display: flex;
    opacity: 1;
    transition: opacity .2s ease;
  }
  @keyframes move-in {
    75% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes move-out {
    75% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes move-info {
    75% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .info-out {
    width: 100%;
    justify-self: end;
    transform: translateX(0);
    animation: info-out .4s linear forwards .15s;
  }
  @keyframes info-out {
    to {
      width: 0;
    }
  }
  .front {
    animation: move-out .72s linear forwards 0.57s;
  }
  .remove-animation {
    animation: none;
  }
  picture{
    margin: 0;
  }
.next, .previous{

    cursor: pointer;
    padding: 10px;
    color:white;
  }
  /*Fin carrousel*/
.content{
  grid-area: content;
  color: #343A40;
  box-sizing: border-box;
}
.lastest{
  margin-top: 30px;
  grid-area: last;
}
.lastest-arrivals{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  grid-template-areas: "last-arrival1 last-arrival2 last-arrival4"
                       "last-arrival1 last-arrival3 last-arrival4";
}
.lastest-arrivals-product{
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.lastest-arrivals-product-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lastest-arrivals-product-info{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.lastest-arrivals-product-info-button{
  padding: 10px 20px;
  background: black;
  color: white;
  font-weight: 600;
  border:none;
  text-transform: uppercase;
  position: relative;
}
.lastest-arrivals-product-info-button::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(3px, 3px);
  box-shadow: inset 0 0 0 1px black;
}
.lap1{
  grid-area: last-arrival1;
}
.lap2{
  grid-area: last-arrival2;
}
.lap3{
  grid-area: last-arrival3;
}
.lap4{
  grid-area: last-arrival4;
}
.suggestion-description{
  width: 80%;
  text-align: center;
  padding-bottom: 35px; 
}
.suggestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 15px;
}
.section-title{
  font-family: 'Amaranth';
  text-transform: uppercase;
  font-size: 2.4em;
  padding-bottom: 15px; 
  color: #343A40;
  text-align: center;
}
.suggestion-products{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: dense;
  grid-gap: 15px;
}
.suggestion-product{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.28);
  transition: all .3s ease-in;
}

.suggestion-product:hover .card-view-container{
  display: flex;
  opacity: 1;
}
.card-image-container{
  margin: 0;
  height: 280px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}
.card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #343A40;
  transition: all .9s ease;
}
.card-view-container{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  background: rgba(0,0,0,0.28);
  display: none;
  opacity: 0;
  transition: all .5s ease;
}
.card-view{
  width:55px;
  font-weight: 600;
  padding: 0 15px;
  text-transform: uppercase;
  height: 40px;
  background: #343A40;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  font-size: 16px;
  padding: 10px;
  line-height: 1em;
}
.card-category{
  font-size: 0.9em;
  font-weight: 200;
  padding-bottom: 7px;
  line-height: 1em;
}
.card-title{
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
  line-height: 1em;
}
.card-bottom{
  display: flex;
  justify-content: space-between;
  padding-top:7px;
}
.card-price, .card-rating{
  line-height: 1em;
  font-size: 0.85em;
}
.card-rating{
  color:#98989A;
}
.footer{
  grid-area: footer;
  width: 100%;
}
.footer-up{
  background: white;
  width: 100%;
  height: 200px;
}
.footer-down{
  background: #363738;
  width: 100%;
  height: 80px;
}
/* Añadidas con js */
.color{
  background: #1368CE;
  color: white;
  border-bottom: none;
}
.fixed{
  position: fixed;
  position: -ms-device-fixed;
  top:80px;
  width: 300px;
}
.border{
  border-radius: 0 0 12px 0;
}
/*Holas*/

.wave-bottom-with-dots-0 {
          fill: #377DFF;
          fill: rgba(255, 255, 255, .05);
          transform: translateY(0) translateX(0) scale(1);
          animation-name: movimiento;
          animation-duration: 5.5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-direction: alternate; 
          animation-delay: .1s;
        }

        .wave-bottom-with-dots-1 {
          fill: #377DFF;
          fill: rgba(255, 255, 255, .05);
          transform: translateY(0) translateX(0) scale(1);
          animation-name: movimiento;
          animation-duration: 5.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-direction: alternate; 
        }

        .wave-bottom-with-dots-2 {
          fill: #DE4437;
          fill: rgba(255, 255, 255, 0);
        }

        .wave-bottom-with-dots-3 {
          fill: #00C9A7;
          fill: rgba(255, 255, 255, 0);
          
        }

        .wave-bottom-with-dots-4 {
          fill: #FFC107;
          fill: rgba(255, 255, 255, 0);
          
        }

.menu-lateral{
  display: none;
  transform: translateX(-100vw);
  transition: transform .3s ease;
  grid-row: 2/3;
  grid-column: 1/-1;
  z-index:2;
  background: #141414;
  position: relative;
  height: 100%;
  color:white;
  height: calc(100vh - 80px) ;
}
ol{
  list-style: none;
  padding-left: 0px;
}
.icon-keyboard_arrow_right{
  font-size: 28px;
  margin: 6px 0;
}
.icon-keyboard_arrow_right, .icon-sports-shoe, .icon-male, .icon-female, .icon-phone, .icon-t-shirt, .icon-home3{
  width: 20px;
}
.helper-lateral{
  display: flex;
  padding-left: 40px;
  align-items: center;
}
.menu-principal-lateral{
  display: flex;
  flex-direction: column;
  margin:26px 0;
}
.menu-principal-lateral li{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: block;
}
.menu-principal-lateral li:hover{
  background-color: rgba(0,0,0,0.28);
  border-bottom: 1px solid white;
}
.menu-principal-lateral li:hover .item-container-lateral{
  border: none;
}
.menu-principal-lateral li:hover .helper-lateral i{
  animation-duration: .3s;
  animation-name: animation-icons;
  animation-timing-function: linear;
}
.menu-principal-lateral li:hover .sub-menu-lateral p{
  animation-duration: initial;
  animation-name: initial;
  animation-timing-function: initial;
}
.menu-principal-lateral li:hover .sub-menu-lateral li{
  border:none;
}
.menu-principal-lateral li p{
  margin: 10px 0;
}
.menu-principal-lateral li .helper-lateral{
  transform: rotate(0deg);
}
.menu-principal-lateral li .icon-keyboard_arrow_right{
  transform: rotate(90deg);
}
.sub-menu-lateral li{
  font-size: 1em;
  padding: 10px 0 11px 0;
  margin: 0;
  border:none;
}
.sub-menu-lateral li:last-child{
  padding-bottom: 10px;
}
.sub-menu-lateral li p{
  margin:0;
  padding-bottom: 0;
  border: none;
}
.menu-lateral p{
  padding-left: 10px;
}
.sub-menu-lateral p{
  padding-left: 40px;
}
.sub-menu-lateral{
  display: none;
  margin-top: 1px;
  box-sizing: border-box;
  z-index: -10;
  width: 0;
  height: 0;
  font-size: 0;
  transition: all 0.3s ease-in;
}
.item-container-lateral{
  display: flex;
  padding-right: 20px;
  border-bottom: 1px solid white;
  justify-content: space-between;
}
.show-sub-menu-lateral{
  display: initial;
  width: 250px;
  height: initial;
  font-size: 1em;
} 
@media screen and (max-width:1150px){
  .helper{
    padding: 0 10px;
  }
  
}
@media screen and (max-width:1023px){
  body{
    grid-template-columns: 1fr;
    grid-template-rows: 80px calc(100vh - 80px) 600px 1fr 180px;
    grid-template-areas: "header"
                        "hero"
                        "last"
                        "content"
                        "footer";
  }
  .menu-lateral{
    display: initial;
  }
}
@media screen and (max-width:981px){
  .helper{
    padding: 0 5px;
  }
}

@media screen and (max-width:960px){
  body{
    grid-template-rows: 80px calc(100vh - 80px) 1000px 1fr 180px;
  }
  .header{
    grid-template-columns: 190px 1fr;
    grid-template-rows: 1fr;
  }
  .search{
    justify-content: flex-end;
    flex-direction: initial;
    align-items: center;
    padding-right: 20px;
  }
  .icon-user, .icon-cart, .menu, .search-down input{
    display: none;
  }
  .lupa-container{
    border: none;
  }
  .search-down{
    order: -1;
  }
  .menu-button{
    display: flex;
  }
  .icon-cart, .icon-user{
    margin-top:0;
  }
  .logo{
    padding-left: 20px;
  }
  .lastest-arrivals{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 400px;
    grid-template-areas: "last-arrival1 last-arrival2"
                       "last-arrival1 last-arrival4"
                       "last-arrival3 last-arrival3";
  }
}
@media screen and (max-width:600px){
  body{    
    grid-template-rows: 80px calc(100vh - 80px) 1121px 1fr 180px;

  }
  .lastest-arrivals{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,250px);
    grid-template-areas: "last-arrival1"
                         "last-arrival2"
                         "last-arrival3" 
                         "last-arrival4";
  }
  .menu-search{
    padding-right: 10px;
  }
}
@keyframes movimiento{
  0%{
    transform: translateY(0px) translateX(0px) scale(1);
  }
  25%{
    transform: translateY(7px) translateX(12px) scale(1.03);
  }
  50%{
    transform: translateY(1px) translateX(6px) scale(1.1);
  }
  75%{
    transform: translateY(8px) translateX(0px) scale(1.05);
  }
  100%{
    transform: translateY(-2px) translateX(7px) scale(1);
  }
}

.background-color-map {
  animation-duration: 68s;
  animation-iteration-count: infinite;
  animation-name: animation-colors;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes animation-colors {
  0% {
    background-color: #1368CE;
  }
  10% {
    background-color: #1368CE;
  }
  25% {
    background-color: #E21B3C;
  }
  35% {
    background-color: #E21B3C;
  }
  50% {
    background-color: #6d5bf5;
  }
  60% {
    background-color: #6d5bf5;
  }
  75% {
    background-color: #26890C;
  }
  85% {
    background-color: #26890C;
  }
  95% {
    background-color: #46178F;
  }
  100% {
    background-color: #46178F;
  }
}

@keyframes animation-colors-text {
  0% {
    background-color: #6d5bf5 ;
  }
  25% {
    /* background-color: #f55683; */
    background-color: #E21B3C;
  }
  50% {
    /* background-color: #f55683; */
    background-color: #1368CE;
  }
  75% {
    /* background-color: #ffe32a; */
    background-color: #26890C;
  }
  100% {
    /* background-color: #2a84ff; */
    background-color: #46178F;
  }
}
@keyframes animation-icons{
  0%{
    transform: rotate(0deg)
  }
  25%{
    transform: rotate(180deg)
  }
  50%{
    transform: rotate(430deg)
  }
  75%{
    transform: rotate(310deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
.hide{
  display: none;
}
.opacity{
  opacity: 0;
}
.show-menu-lateral{
  transform: translateX(0);
}