    .login-signup {
      background: white;
      justify-content: center;
      margin: 105px auto 40px auto;
      max-width: 540px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 35px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .login-signup form input {
      width: 80%;
      height: 45px;
      padding-left: 20px;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid lightgray;
      outline: none;
    }
    .login-signup form input:focus {
      border: 1px solid #2196F3;
      border: 1px solid #363738;
      border-left: 10px solid #2196F3;
      border-left: 10px solid #363738;
      padding-left: 10px;
    }
    #user,
    #user-signup {
      margin-top: 30px;
    }
    .login-signup form h3 {
      font-family: 'Amaranth';
      margin: 0;
      text-transform: uppercase;
      font-size: 1.6em;
      padding-bottom: 20px;
      color: #343A40;
      text-align: center;
      width: 80%;
      border-bottom: .5px solid lightgray;
    }
    .login-signup form button {
      width: 80%;
      height: 45px;
      background: #363738;
      border: none;
      color: white;
      font-size: 1em;
      margin-top: 15px;
    }
    .login, .signup{
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 35px;
    }
    .alternative-option{
      background: #F9F7F6;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 0 15px;
      line-height: 1.2em;
      text-align: center;
    }
    .alternative-option a{
      width: 80%;
      height: 45px;
      background: white;
      border: 2px solid #363738;
      margin-bottom: 25px;
      text-decoration: none;
      color: #141414;
      line-height: 45px;
    }
    .alternative-option h4{
      margin: 15px 0;
    }
    .login-signup input, .login-signup button, .login-signup a, .login-signup, .alternative-option{
      border-radius: 4px;
    }
    .login-signup button, .login-signup a{
      font-size: 16px;
      font-weight: bold;
    }
@media screen and (max-width:561px){
  .login-signup{
    margin: 25px 10px 40px 10px;
    padding-top: 25px;
  }
  .page-content{
    padding: 10px 0 10px 0;
  }
  .login-signup form h3 {
    font-size: 1.4em;
  }
}