body{
  background: white;
}
.page-content{
  /* max-width: 1024px; */
  margin:80px auto 0 auto;
}
.product{
  display: grid;
  grid-template-columns: 55% 40%;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: "imagen infoTop"
                       "imagen infoBottom";
  color: #343A40;
  padding: 20px 15px 15px 0;
  box-sizing: border-box;
}
.product-image{
  grid-area: imagen;
  display: flex;
  background: #EBEDEE;
  height: 545px;
}
.product-image img{
  height: 100%;
  width: 100%;
  margin:0 auto;
  object-fit: cover;
}
.product-info-top{
  grid-area: infoTop;
  padding: 20px 30px 0 70px;
  box-sizing: border-box;
  align-self: flex-end;
}
.product-info-bottom{
  grid-area: infoBottom;
  padding: 0 30px 20px 70px;
  box-sizing: border-box;
}
.product-title{
  font-family: 'Amaranth';
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 30px;
}
.product-tag{
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 400;
  margin-bottom: 5px;
}
.product-rating{
  color:#343A40;
}
.product-helper{
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  margin-bottom: 15px;
}
.product-description{
  /* line-height: 1em; */
  font-size: 0.87em;
  margin-bottom: 10px;
  color: #868E96;
}
.product form{
  display: flex;
  flex-direction: column;
}
.form-helper{
  display: flex;
  margin-bottom: 20px;
}
.product-size{
  width: 100%;
}
.product-quantity{
  width: 100%;
  
}
.product-size, .product-quantity{
  border-width: 1px;
  border-color: black;
  outline: none;
  height: 45px;
  padding: 0 10px;
  font-weight: 600;
  box-sizing: border-box;
}
.product-button{
  width: 100%;
  text-align: center;
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  color:white;
  background: #141414;
  position: relative;
  border:none;
}
.product-button:hover{
  background: #444444 
}                          
.product-button::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(3px, 3px);
  box-shadow: inset 0 0 0 1px #141414;
}
.product-button:hover::after{
  box-shadow: inset 0 0 0 1px #444444;
}
.form-helper-container-left{
  width: 70%;
  margin-right: 20px;
}
.form-helper-container-rigth{
  width: 30%;
}
.product-information{
  max-width: 1024px;
  margin:60px auto 0 auto;
}
.product-information-title, .product-review-title{
  text-transform: uppercase;
  font-size: 2.7em;
  font-weight: bolder;
  font-family: 'Amaranth';
  margin-bottom: 30px;
  color: #141414;
}
.product-review{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas: "title title"
                       "ratings comments";
  max-width: 1024px;
  margin:60px auto 0 auto;
}
.product-review-title{
  grid-area: title;
  padding-bottom: 50px;
}
.product-review-rating{
  grid-area: ratings;
  padding-right: 50px;
  box-sizing: border-box;
}
.product-review-comments{
  grid-area: comments;
}
.general-rating{
  background: #2ADA71;
  height: 90px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.general-rating .product-rating{
  color: black;
  letter-spacing: -.4px;
}
.general-rating-helper{
  font-size:.8em;
}
.big-number{
  font-weight: bolder;
  font-size: 3.6em;
  margin-right: 7px;
}
.rating-title{
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'Amaranth';
  margin-bottom: 15px;
}
.rating-bar-container{
  text-transform: uppercase;
  display: flex;  
  align-items: center;
  margin-bottom: 7px;
}
.rating-bar{
  height: 3px;
  width: calc(100% - 120px);
  margin: 0 9px;
  background: #D9DCDD;
  position: relative;
}
.rating-bar-container span{
  font-size: 0.73em;
}
.rating-bar-value{
  height: 3px;
  background: #2ADA71;
  position: absolute;
  top: 0;
  left: 0;
}
.rating-date{
  display: flex;
  justify-content: space-between;
}
.rating-date .product-rating{
  color: black;
  letter-spacing: -.2px;
}
.date{
  font-size: .9em;
  color: gray;
}
.comment{
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
}
.comment-title{
  line-height: 1em;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bolder;
  margin-bottom: 6px;
}
.comment-description{
  line-height: 1.1em;
  margin-bottom: 20px;
}
.comment-user {
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 35px;
}
.comment-user span{
  font-weight: 400;
  color: gray;
}

@media screen and (max-width:1060px){
  .product {
    grid-template-columns: 55% 45%;
  }
}
@media screen and (max-width:1060px){
  .product {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "infoTop"
                         "imagen"
                         "infoBottom";
    padding: 0;
  }
  .product-info-top, .product-info-bottom{
    padding: 20px 30px
  }
  .product-title{
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .product-helper{
    font-size: 1.15em;
    margin-bottom: 7px;
  }
  .product-tag{
    font-size: 0.85em;
  }
  .product-information-title, .product-review-title {
    font-size: 2em;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .product-information {
    margin: 30px auto 0 auto;
  }
  .product-review-rating, .product-review-comments{
    padding: 0 30px;
  }
  .product-review-comments{
    margin-top: 40px;
  }
}

@media screen and (max-width:760px){
  .product-review {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title"
                        "ratings"
                        "comments";
    max-width: 1024px;
    margin: 60px auto 0 auto;
  }
}
@media screen and (max-width:620px){
  .product-image{
    height: 350px;
  }
  .modal-review{
    width: 90%;
  }
}

.modal-review-container{
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 100%;
  background: rgba(0,0,0,.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  padding: 0 17px;
  box-sizing: border-box;
}
.modal-review{
  position: relative;
  width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 45px 45px;
  box-sizing: border-box;
}
.modal-title{
  text-transform: uppercase;
}
.modal-subtitle{
  margin-bottom: 35px;
}
.modal-element-container{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.modal-element-label{
  width: 30%;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
  color:#141414;
  font-size: .9em;
}
.self-start{
  align-self: flex-start;
}
.modal-comment, .modal-rating{
  text-align: left;
  width: 70%;
}
.modal-comment{
  font-family: 'Titillium Web',sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  line-height: 1.2em;
  font-size: .9em;
  margin-bottom: 15px;
}
input[type = "radio"]{ 
  display:none;
}
.icon-star{
  font-size: 2em;
}
.modal-rating{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
}
.modal-rating label{
  cursor: pointer;
}
.modal-star:hover .icon-star::before{
  content: "\e9d9";
}
.modal-star:hover ~ .modal-star .icon-star::before{
  content: "\e9d9";
}
input[type = "radio"]:checked ~ .modal-star{
  color:#FFB500;
}
input[type = "radio"]:checked ~ .modal-star .icon-star::before{
  content: "\e9d9";
}
.icon-star::before{
  content: "\e9d7";
  color: #FFB500;
}
@media screen and (max-width:450px){
  .self-start{
    align-self: center;
  }
  .modal-element-container{
    flex-direction: column;
  }
  .modal-comment{
    width: 100%;
  }
  .modal-rating{
    text-align: center;
    width: 100%;
  }
  .modal-subtitle{
    margin-bottom: 20px;
  }
  .modal-title{
    text-align: center;
    font-size: 1.8em;
  }
}
@media screen and (max-width:395px){
  .modal-title{
    font-size: 1.27em;
  }
  .modal-review{
    padding: 20px 20px 25px;
  }
  .modal-element-container{
    margin-bottom: 10px;
  }
  .modal-review .product-button{
    font-size: .95em;
  }
  .modal-comment{
    height: 80px;
  }
}
.close-modal{
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 2em;
  transform: rotate(45deg);
  font-weight: bolder;
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: none;
}
.form-modal{
  width: 100%;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
}