.page-content{
  display: grid;
  max-width: 1180px;
  margin-left:auto;
  margin-right:auto;
  grid-template-columns: 276px 1fr; 
  grid-template-rows: 60px 1fr;
  grid-template-areas: "filtros controles"
                       "filtros resultados";
  padding: 20px 0px;
}
.filters{
  grid-area: filtros;
  /* width: 30px; */
  padding: 10px 20px;
  box-sizing: border-box;
  background: white;
}
.filters h2{
  font-size: 1.6em;
  display: flex;
  align-items: center;
}
.filters h2 i{
  padding-right: 10px; 
  font-size: 0.8em;
}
.menu-filter{
  display: flex;
  flex-direction: column;
}
.menu-filter-element-container{
  width: 100%;
}
.menu-filter-options{
  transition: all .2s ease-in-out;
}
.menu-filter-element{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  cursor: pointer;
}
.menu-filter-element i{
  transition: transform .2s ease;
  transform: rotate(-90deg);
}
/* Checkbox */ 
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
  background-color: #4D5257;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.results{
  grid-area: resultados;
  width: 100%;
  padding: 0 10px 20px;
  box-sizing: border-box;
}
.controls{
    grid-area: controles;
    background: white;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1em;
}
#sort{
  height: 30px;
  padding-left: 10px;
  border: none;
  outline-color: lightgrey;
  font-family: 'Titillium Web', sans-serif;
  font-size: .9em;
}
.searched-word{
  font-size: 1.1em;
  color: #343A40;
}
.products{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-auto-rows: dense;
  grid-gap: 20px;
}
.product{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in;
  cursor: pointer;
  text-decoration: none;
  color:black;
}
.product:hover .card-view-container{
  display: flex;
  opacity: 1;
}
.card-image-container{
  margin: 0;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}
.card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #343A40;
  transition: all .9s ease;
}
.card-view-container{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.28);
  opacity: 0;
  transition: all .5s ease;
}
.card-view{
  width:55px;
  font-weight: 600;
  padding: 0 15px;
  text-transform: uppercase;
  height: 40px;
  background: #23272B;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  font-size: 16px;
  padding: 10px;
  line-height: 1em;
}
.card-category{
  font-size: 0.9em;
  font-weight: 200;
  padding-bottom: 7px;
  line-height: 1em;
}
.card-title{
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
  line-height: 1em;
}
.card-bottom{
  display: flex;
  justify-content: space-between;
  padding-top:7px;
}
.card-price, .card-rating{
  line-height: 1em;
  font-size: 0.85em;
}
.card-rating{
  color:#98989A;
}
.hide-options{
  display:none;
}
.rotate{
  transform: rotate(90deg) !important;
}

.price-range-block {
    margin: 60px;
  }

  .sliderText {
    width: 40%;
    margin-bottom: 30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight: bold;
  }

  .ui-slider-horizontal {
    height: .6em;
  }

  .ui-slider-horizontal {
    margin-bottom: 15px;
    width: 100%;
  }

  .ui-widget-header {
    background: #23272B;
  }
  .price-range{
    display: flex;
    justify-content: space-between;
    margin-block-end: 5px;
    font-size: 0.9em;
  }
  .price-range-search {
    width: 40.5%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .price-range-field {
    width: 20%;
    min-width: 16%;
    background-color: #f9f9f9;
    border: 1px solid #6e6666;
    color: black;
    font-family: myFont;
    font: normal 14px Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 26px;
    padding: 5px;
  }
  .search-results-block {
    position: relative;
    display: block;
    clear: both;
  }

  @media screen and (max-width:860px){
    .page-content{
      grid-template-columns: 256px 1fr; 
      grid-template-rows: 60px 1fr;
    }
  }
  @media screen and (max-width:760px){
    .page-content{
      grid-template-columns: 1fr; 
      grid-template-rows: 60px auto auto;
      grid-template-areas: "controles"
                           "filtros"
                           "resultados";
    }
    .filters{
      margin: 0 10px 10px 10px;
    }
    .filters h2 {
      font-size: 1.2em;
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width:600px){
    .page-content{
      grid-template-rows: auto auto auto;
    }
    .sort-container{
      margin-top: 10px;
    }
    .controls{
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .hide{
    display: none;
  }